@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e2530;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


math-field {
  font-size: 2rem;
  margin: 0.5em;
  padding: 0.3em;
  border-radius: 0.3em;
  background-color: #fff;
}

.cell {
  margin: 1em;
  margin-bottom: 1.4em;
  border-radius: 0.3em;
  border: 0.01em solid #000;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.8);
  background-color: #334756;
}

.header {
  text-align: center;
  padding: 0.1em;
  font-size: 2.5rem;
  color: white;
  background-color: #1e2530;
  font-family: 'Shadows Into Light', sans-serif;
}

.footer {
  padding: 0.25em;
  font-size: 1rem;
  background-color: #1e2530;
  color: lightgray;
  height: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.github {
  padding-right: 1rem;
  justify-self: center;
}

a {
  color: white
}

.output {
  width: 80%;
  font-size: 1.15em;
  margin: 0.8rem;
  padding: 0.2rem;
  border-radius: 0.5em;
  border: 0.15em solid #000;
  box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: 32% auto;
  justify-content: stretch;
  height: 95%;
}

.sidebar {
  padding: 0.5rem;
  border: 0.05em solid #000;
  background-color: #5d6879;
  justify-content: stretch;
}

.workspace {
  padding: 0.5rem;
  border: 0.05em solid #000;
  overflow-y: auto;
  background-color: #5d6879;
}


.button-grid {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin:0;
}

.buttons {
  margin-right: 0.75em;
  flex-wrap: nowrap;
}

.add {
  height: 2.5rem;
  width: 3rem;
}

.delete {
  height: 2.5rem;
  width: 3rem;
}

.copy_paste {
  height: 2.5rem;
  width: 3rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  width: 3rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.3rem;
  padding: 0.4rem;
  position: absolute;
  z-index: 1;
  bottom:120%;
  left: -20%;
  transition: opacity 0.3s;
}

.symbol-headers {
  display: grid;
  margin-top: 0.7em;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  height: 16%;
  max-width: inherit;
  overflow: auto;
}

.grid-buttons {
  font-size: 0.99rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin: 0.35rem;
  border-radius: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.grid-button-active {
  font-size: 0.99rem;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin: 0.35rem;
  border-radius: 1em;
  border: 0.1em solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  background-color: #334756;
  color: white;
}

span {
  cursor: pointer;
}

.symbols {
  display: grid;
  margin-top: 0.5rem;
  max-height: 41.8rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, auto);
  overflow-y: auto;
  max-width: inherit;
}

#chemical .symbols {
  display: grid;
  margin-top: 0.5rem;
  max-height: 41rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, auto);
  overflow-y: auto;
  max-width: inherit;
}

#math .symbols {
  display: grid;
  margin-top: 0.5rem;
  max-height: 41rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
  overflow-y: auto;
  max-width: inherit;
}

.sym-button {
  margin: 0.1em;
  padding: 0.5em; 
  font-size: 1.1em;
}

#arrows .sym-button:nth-child(89) {
  grid-column-start: span 2;
}

#arrows .sym-button:nth-child(90) {
  grid-column-start: span 2;
}

#arrows .sym-button:nth-child(91) {
  grid-column-start: span 2;
}

#arrows .sym-button:nth-child(92) {
  grid-column-start: span 2;
}

#chemical .sym-button:nth-child(14) {
  grid-column-start: span 2;
}

#chemical .sym-button:nth-child(15) {
  grid-column-start: span 1;
}

#chemical .sym-button:nth-child(16) {
  grid-column-start: span 2;
}

#chemical .sym-button:nth-child(17) {
  grid-column-start: span 2;
}